.Animations_Earth_Main {
    --color: rgb(1, 65, 82);
    /* background: linear-gradient(
        150deg,
        black 10%,
        hsl(from var(--color) h s calc(l - 10)) 50%
    ); */
    background-size: 100% 100%;
    background-position: center;
    background-image: url("/galaxy.webp");

    animation: galaxy_floating 120s linear infinite;
}

@keyframes galaxy_floating {
    to {
        background-size: 200% 200%;
    }
}

.Animations_Earth_Figure {
    background-image: url("/earth_daymap.webp");
    background-size: cover;

    box-shadow: inset 0 0 5px var(--color), inset 0 0 10px var(--color),
        inset 0 0 15px var(--color);

    filter: drop-shadow(0 0 5px var(--color)) drop-shadow(0 0 10px var(--color))
        drop-shadow(0 0 15px var(--color)) drop-shadow(0 0 20px var(--color));

    animation: spin 60s linear infinite;
}

@keyframes spin {
    to {
        background-position-x: -200%;
    }
}

.Animations_Earth_Span {
    border: 1px solid hsl(from var(--color) h s calc(l + 10));
    animation: send_signal calc(1s * var(--signal_arrival_time))
        calc(
            1s * var(--signal_arrival_time) / var(--total_signals) *
                var(--index)
        )
        linear infinite;
}

@keyframes send_signal {
    to {
        transform: scale(3);
        border-color: transparent;
    }
}
