.Box1 {
    width: var(--w);
    aspect-ratio: 9/16;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.Box1 figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: wheat;
    transform: rotateY(calc(360deg / var(--total) * var(--i)))
        translateZ(calc(var(--w) * 1.2));
    -webkit-box-reflect: below 0px
        linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.3));
    backface-visibility: hidden;
}
